---
BasedOnStyle:  WebKit
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 76
FixNamespaceComments: true
IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '^".+\.(h|hh|hpp|hxx)"$'
    Priority:        1
  - Regex:           '^<.+\.(h|hh|hpp|hxx)>$'
    Priority:        2
  - Regex:           '^<[^.]+>$'
    Priority:        3
IncludeIsMainRegex: '(Tests)?$'
Cpp11BracedListStyle: true
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
PenaltyReturnTypeOnItsOwnLine: 999
IndentCaseLabels: true
BreakBeforeBinaryOperators: None
AllowAllParametersOfDeclarationOnNextLine: false
...
